 @import 'ember-paper';

 *, *:before, *:after {
box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-size: 14px;

  margin: 0;
  padding: 0;
  outline: none;
}

.ember-app, .ember-application > .ember-view {
  width: 100%;
  height: 100%;
}

.title-image {
  margin: 20px auto 5px auto;
  max-width: 400px;
  padding: 10px;
}

.menu-sidenav-toggle {
  font-size: 24px!important;
  margin-right: 16px;
  padding: 0;
}

.logo {
  font-size:24px;
}

.sidenav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.sidenav ul li > a {
  display: block;
  font-size: 14px;
  text-decoration: none;
  color: #424242;
  font-weight: 700;
  padding: 1.1em 1.6em;
}
.sidenav ul li a:hover {
  background-color: #e0e0e0;
}

md-card {
  max-width: 700px;
}

.google-maps {
  position: relative;
  padding-bottom: 38%; // This is the aspect ratio (Pam updated to shrink map)
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
}
