{{#paper-toolbar}}
  <h2 class="md-toolbar-tools">
    {{#paper-sidenav-toggle class="menu-sidenav-toggle"}}
      {{paper-icon icon="menu"}}
    {{/paper-sidenav-toggle}}
    <span>Schedule</span>
  </h2>
{{/paper-toolbar}}

{{#paper-card}}
  {{#paper-card-content}}

  <h2>Schedule - Saturday, June 20th, 2015</h2>

  <h3>9:00 am Registration & Welcome</h3>
  <ul>
    <li>Register between 9-9:40 and grab some bagels & coffee!</li>
    <li>Welcome/Opening Remarks at 9:45</li>
  </ul>

  <h3>10:00 am Workshops</h3>

  <ul>
    <li>
      Denine Guy - Future of Web App Development - Building with Polymer.js
    </li>
    <li>
      Ken Rimple - Getting started with AngularJS
    </li>
    <li>
      Chad Ostrowski - Starting to React
    </li>
    <li>
      Max Minkoff - Getting Started and Going Further with EmberJS
    </li>
  </ul>

  <h3>12:30 pm Lunch</h3>

  <h3>1:00 pm Afternoon Speakers</h3>

  <h4>Track 1</h4>

  <ul>
    <li>
      1:00 - Ken Dale - Bring the Rain: Cloud Powered Continuous Delivery
    </li>
    <li>
      2:00 - Tommy Everett - JS Code Evaluation: Soup to Nuts
    </li>
    <li>
      3:00 - Douglas Grogg - Ditch Your Framework, or How we learned to stop worrying and love ES6
    </li>
    <li>
      4:00 - William Jeffries - Cognitive Bias and Code
    </li>
  </ul>

  <h4>Track 2</h4>

  <ul>
    <li>
      1:00 - Kevin Clough - Who Won Philly
    </li>
    <li>
      2:00 - Warren Longmire - Intro to HTML5 Game Development
    </li>
    <li>
      3:00 - Ben Spoon - Protect yourself from Zombies with Javascript
    </li>
    <li>
      4:00 - Kelly Campbell - Digging into Cordova Plugins
    </li>
  </ul>

  <h3>5:45 pm Evening festivities</h3>
  <p>
    In the evening, we'll round it off with a good old fashioned social,
    thoroughly enjoying ImpactHub's deck.
  </p>

  <ul>
    <li>Food!</li>
    <li>Open bar (WHAT)</li>
    <li>Did we mention the deck??</li>
  </ul>


  {{/paper-card-content}}
{{/paper-card}}
