{{#paper-toolbar}}
  <h2 class="md-toolbar-tools">
    {{#paper-sidenav-toggle class="menu-sidenav-toggle"}}
      {{paper-icon icon="menu"}}
    {{/paper-sidenav-toggle}}
    <span>Home</span>
  </h2>
{{/paper-toolbar}}

{{#paper-card}}
  <img
    class="title-image"
    src="/assets/images/logo-full.png"
    alt="LibertyJS Logo">
  {{#paper-card-content}}
    <h2>LibertyJS</h2>
    <p>
      Your friendly Philly JavaScript conference.
    </p>

    <p>
      Come to LibertyJS for a full day of workshops, talks, and lots of JavaScript fun!
    </p>

    <p>
      Saturday, June 20th, 2015 at
      <a href="https://twitter.com/phillyjsdev" target="_blank">@phillyjsdev</a>
    </p>
    <div class="google-maps">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3057.6806119456114!2d-75.14261199999999!3d39.970893000000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c6c871dfc8abef%3A0xca81755991ee7356!2sImpact+Hub+Philadelphia!5e0!3m2!1sen!2sus!4v1431988110556"
        width="500"
        height="450"
        frameborder="0"
        style="border:0">
      </iframe>
    </div>
    <p>
      <a
        href="http://philadelphia.impacthub.net/"
        target="_blank">
        Impact Hub Philadelphia
      </a>
    </p>
  {{/paper-card-content}}
{{/paper-card}}

{{#paper-card}}
  {{#paper-card-content}}
    <h2>Sponsors</h2>
    <a
      href="http://financialsystems.sungard.com/services/consulting-services"
      title="SunGard Consulting Services Website">
      <img
        src="/assets/images/sungard-logo.jpg"
        alt="SunGard Logo">
    </a>
    <a
      href="http://www.impacthub.net/"
      title="Impact Hub Website">
      <img
        src="/assets/images/impact-hub-logo.png"
        alt="Impact Hub Logo">
    </a>
    <h2>{{#link-to "sponsorship"}}Interested in sponsoring?{{/link-to}}</h2>
  {{/paper-card-content}}
{{/paper-card}}
