{{#paper-toolbar}}
  <h2 class="md-toolbar-tools">
    {{#paper-sidenav-toggle class="menu-sidenav-toggle"}}
      {{paper-icon icon="menu"}}
    {{/paper-sidenav-toggle}}
    <span>Home</span>
  </h2>
{{/paper-toolbar}}

{{#paper-card}}
  <img
    class="title-image"
    src="/assets/images/logo-full.png"
    alt="LibertyJS Logo">
  {{#paper-card-content}}
    <h2>LibertyJS</h2>
    <p>
      Your friendly Philly JavaScript conference.
    </p>

    <p>
      Saturday, June 20th, 2015 at
      <a href="https://twitter.com/phillyjsdev" target="_blank">@phillyjsdev</a>
    </p>
    <a href="http://philadelphia.impacthub.net/" target="_blank">Impact Hub Philadelphia</a>
  {{/paper-card-content}}
{{/paper-card}}

{{#paper-card}}
  {{#paper-card-content}}
    <h2>Sponsors</h2>
    <a
      href="http://financialsystems.sungard.com/services/consulting-services"
      title="SunGard Consulting Services Website">
      <img
        src="/assets/images/sungard-logo.jpg"
        alt="SunGard Logo">
    </a>
    <a
      href="http://www.impacthub.net/"
      title="Impact Hub Website">
      <img
        src="/assets/images/impact-hub-logo.png"
        alt="Impact Hub Logo">
    </a>
    <h2>{{#link-to "sponsorship"}}Interested in sponsoring?{{/link-to}}</h2>
  {{/paper-card-content}}
{{/paper-card}}
