{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    Home
  </div>
{{/paper-toolbar}}

{{#paper-card}}
  <img src="https://material.angularjs.org/img/washedout.png" alt="Washed Out">
  {{#paper-card-content}}
    <h2>LibertyJS</h2>
    <p>
      Your friendly Philly JavaScript conference.
    </p>

    <p>
      Saturday, July 26th, 2014 at
      <a href="https://twitter.com/phillyjsdev" target="_blank">@phillyjsdev</a>
    </p>
    <a href="http://philadelphia.impacthub.net/" target="_blank">Impact Hub Philadelphia</a>
  {{/paper-card-content}}
{{/paper-card}}
