{{#paper-toolbar}}
  <h2 class="md-toolbar-tools">
    {{#paper-sidenav-toggle class="menu-sidenav-toggle"}}
      {{paper-icon icon="menu"}}
    {{/paper-sidenav-toggle}}
    <span>Home</span>
  </h2>
{{/paper-toolbar}}

{{#paper-card}}
  <img
    class="title-image"
    src="/assets/images/logo-full.png"
    alt="LibertyJS Logo">
  {{#paper-card-content}}
    <h2>LibertyJS</h2>
    <p>
      Your friendly Philly JavaScript conference.
    </p>

    <p>
      Come to LibertyJS for a full day of workshops, talks, and lots of JavaScript fun!
    </p>

    <p>
      Saturday, June 20th, 2015 at <a href="http://philadelphia.impacthub.net/" target="_blank">Impact Hub Philadelphia</a>
    </p>

    <p><a href="https://twitter.com/liberty_js" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow @liberty_js</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>

    <div class="google-maps">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3057.6806119456114!2d-75.14261199999999!3d39.970893000000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c6c871dfc8abef%3A0xca81755991ee7356!2sImpact+Hub+Philadelphia!5e0!3m2!1sen!2sus!4v1431988110556"
        width="500"
        height="250"
        frameborder="0"
        style="border:0">
      </iframe>
    </div>
  {{/paper-card-content}}
{{/paper-card}}

{{#paper-card}}
  {{#paper-card-content}}
    <h2>Sponsors</h2>
    <h3>Silver</h3>
    <a
      href="http://financialsystems.sungard.com/services/consulting-services"
      title="SunGard Consulting Services Website">
      <img
        src="/assets/images/sungard-logo.jpg"
        alt="SunGard Logo">
    </a>

    <h3>Bronze</h3>
    <a
      href="https://www.promptworks.com/"
      title="Promptworks">
      <img src="/assets/images/promptworks-logo.png" alt="Promptworks Logo">
    </a>
    <a
      href="http://www.impacthub.net/"
      title="Impact Hub Website">
      <img
        src="/assets/images/impact-hub-logo.png"
        alt="Impact Hub Logo" style="padding:5px;">
    </a>
    <h2>{{#link-to "sponsorship"}}Interested in sponsoring?{{/link-to}}</h2>
  {{/paper-card-content}}
{{/paper-card}}
