{{#paper-toolbar}}
  <h2 class="md-toolbar-tools">
    {{#paper-sidenav-toggle class="menu-sidenav-toggle"}}
      {{paper-icon icon="menu"}}
    {{/paper-sidenav-toggle}}
    <span>Call For Proposals</span>
  </h2>
{{/paper-toolbar}}

{{#paper-card}}
  {{#paper-card-content}}
    <h2>Call For Proposals</h2>
    <p>
      You should speak at LibertyJS! Yes you! We are looking for Speakers and
      Workshop Facilitators.
    </p>
    <h3>The Process</h3>
    <ul>
      <li>Submissions are open until May 15th</li>
      <li>All identifiable information will be stripped from proposals</li>
      <li>A panel of four will score each proposal on 0 to 5 scale</li>
      <li>Scores are tallied and the top proposals will be chosen</li>
    </ul>

    <p>Panelists will be chosen from varied level of experience and gender</p>

    <h3>What we are looking for</h3>

    <p>
      We are looking for several Workshop leaders for the morning sessions.
      Topics should appeal to wide audience of JavaScript developers.  Last year
      we had our workshops included: AngularJS, Node, and an Intro to JS.
      Proposed workshops include: AngularJS, EmberJS, React, Polymer, JavaScript
      design patterns, functional JavaScript, etc. This list is not exhaustive
      and all proposals are welcome.
    </p>

    <p>
      We are looking for five speakers for the afternoon session.  All topics
      are welcome but should involve JavaScript. Please take into account that
      LibertyJS attendees will of varied skill levels.
    </p>

    <iframe
      src="https://docs.google.com/forms/d/1iK_SvZ2hqv2_gQQZWC8P6X3ToCyBN4PyeoW-hSkFQFk/viewform?embedded=true"
      width="500"
      height="900"
      frameborder="0"
      marginheight="0"
      marginwidth="0">
      Loading...
    </iframe>

  {{/paper-card-content}}
{{/paper-card}}
