<div ng-include="'partials/navbar'"></div>

<div class="jumbotron">
  <img class="home-logo" src="/images/logo-full.png"/>
  <p class="lead">
    Your friendly Philly JavaScript conference.
  </p>
  <p>Saturday, July 26th, 2014 at <a href="http://philadelphia.impacthub.net/" target="_blank">Impact Hub Philadelphia</a></p>
  <p><a href="http://peatix.com/event/43517" target="_blank">Buy your ticket here!</a></p>
</div>

<div ng-include="'partials/sponsors'"></div>
<div ng-include="'partials/footer'"></div>
