<div ng-include="'partials/navbar'"></div>

<div class="jumbotron">
  <img class="home-logo" src="/images/logo-full.png"/>
  <p class="lead">
    Your friendly Philly JavaScript conference.
  </p>
  <p>Saturday, July 26th, 2014 at <a href="http://philadelphia.impacthub.net/" target="_blank">Impact Hub Philadelphia</a></p>
</div>

<section>
  <h1>The plan</h1>

  <p>We have lots of options for fun; if you register for a workshop, you have Intro, Node, and Angular to choose from. </p>
  <p>In the afternoon, there will be open spaces sessions (a la <a href="http://en.wikipedia.org/wiki/BarCamp">BarCamp</a>) and open hack time to work on <a href="http://codeforphilly.org/">Code for Philly</a> projects, meet up with <a href="http://www.meetup.com/Girl-Develop-It-Philadelphia/messages/boards/thread/44163122">Girl Develop It</a> Open Source Fellows, or work on practicing skills you learned if you chose to attend a workshop.</p>
  <p>Finally, in the evening, we'll round it off with a good old fashioned social, thoroughly enjoying ImpactHub's deck.</p>

  <p>More details coming soon! Meanwhile, if you'd like to help, contact the organizers through <a href="http://www.meetup.com/Philadelphia-JavaScript-Developers/suggestion/" target="_blank">Meetup</a>.</p>
</section>

<div ng-include="'partials/sponsors'"></div>
<div ng-include="'partials/footer'"></div>
