<div ng-include="'partials/navbar'"></div>

<div class="jumbotron">
  <img class="home-logo" src="/images/logo-full.png"/>
  <p class="lead">
    Your friendly Philly JavaScript conference.
  </p>
  <p>July 26th, 2014 at <a href="http://philadelphia.impacthub.net/" target="_blank">Impact Hub Philadelphia</a></p>
</div>

<section>
  <h1>The plan</h1>

  <p>Like every conference ever, we'll tell you "this isn't your average conference."
  Except, well, it isn't. The schedule consists of 3 major parts:</p>

  <ul>
    <li>Workshops</li>
    <li>Open hack/project space</li>
    <li>Excellent evening festivities</li>
  </ul>

  <p>More details coming soon! Meanwhile, if you'd like to help, contact the organizers through <a href="http://www.meetup.com/Philadelphia-JavaScript-Developers/suggestion/" target="_blank">Meetup</a>.</p>
</section>

<div ng-include="'partials/sponsors'"></div>
<div ng-include="'partials/footer'"></div>
