<div ng-include="'partials/navbar'"></div>

<div class="jumbotron">
  <h1>LibertyJS</h1>
  <p class="lead">
    Your friendly Philly JavaScript conference.
  </p>
</div>

<section>
  <h1>The plan</h1>

  <p>Like every conference ever, we'll tell you "this isn't your average conference."
  Except, well, it isn't. The schedule consists of 3 major parts:</p>

  <ul>
    <li>Workshops</li>
    <li>Open hack/project space</li>
    <li>Excellent evening festivities</li>
  </ul>

  <p>More details coming soon! Meanwhile, if you'd like to help, contact us through <a href="http://www.meetup.com/Philadelphia-JavaScript-Developers/suggestion/">Meetup</a>.</p>
</section>

<section>
  <h1>Sponsors</h1>
  <a href="https://www.impacthub.net/" class="sponsor"><img src="/images/impact-hub-logo.png"></a>
  <a href="http://www.meetup.com/Philadelphia-JavaScript-Developers/suggestion/">Your company here!</a>
</section>

<div class="footer">
  <p>♥ from <a href="http://www.meetup.com/Philadelphia-JavaScript-Developers/">PhilaJSDev</a></p>
</div>
