<div ng-include="'partials/navbar'"></div>
<img class="subpage-logo" src="/images/logo-wings.png"/>
<h1>Schedule - Saturday, July 26th, 2014</h1>
<h3>9:00am Registration &amp; Welcome</h3>
<ul>
  <li>Register between 9-9:40 and grab some <a href="http://www.southstphillybagel.com/">bagels</a> &amp; coffee!</li>
  <li>Welcome/Opening Remarks at 9:45</li>
</ul>
<h3>10:00am Workshops</h3>
<ul>
  <li><strong>Node School</strong> - Choose-your-own-adventure style lessons to learn how to use Node.js, NPM, and other related tools by writing code to solve realistic problems. See <a href="http://nodeschool.io/" target="_blank">NodeSchool.io</a> for more information.</li>
  <li><strong>Angular Workshop</strong> - Multiple sessions getting you up to speed building and testing an AngularJS application</li>
  <li><strong>Javascript Introduction</strong> - One of the best things about JavaScript is that it has a low barrier to entry. We'll talk a bit and work through <a href="https://www.khanacademy.org/computing/cs/programming" target="_blank">Khan Academy material</a>, so BYO headphones (we'll have some just in case)! This is an introductory course that will be useful for you during the "Open Hack" period.</li>
</ul>
<h3>12:30pm Lunch</h3>
<ul>
  <li>Thanks, Chipotle!</li>
</ul>
<h3>1:30pm Registration for afternoon attendees</h3>
<ul>
  <li>If you're coming for the afternoon and festivities, come at 1:30 to get registered and settled.</li>
</ul>
<h3>2:00pm Open Hack/Open sessions</h3>
<ul>
  <li>Open spaces sessions (a la <a href="http://en.wikipedia.org/wiki/Unconference" target="_blank">unconference</a>)</li>
  <li>Open hack time to work on <a href="http://codeforphilly.org/">Code for Philly</a> projects, meet up with <a href="http://www.meetup.com/Girl-Develop-It-Philadelphia/messages/boards/thread/44163122">Girl Develop It</a> Open Source Fellows, or work on practicing skills you learned if you attended a workshop.</li>
</ul>
<h3>5:30pm Open Hack Presentations</h3>
<ul>
  <li>Short, un-stressful "what we did" and "what I learned" sharing session.</li>
</ul>
<h3>6:30pm Evening festivities</h3>
<ul>
  <li>In the evening, we'll round it off with a good old fashioned social, thoroughly enjoying ImpactHub's deck.</li>
  <li>Hors d'oeuvres from <a href="http://www.missrachelspantry.com/">Miss Rachel's Pantry</a></li>
  <li>Open bar (WHAT)</li>
  <li>Did we mention the deck??</li>
</ul>
<div ng-include="'partials/sponsors'"></div>
<div ng-include="'partials/footer'"></div>
