<div ng-include="'partials/navbar'"></div>
<img class="subpage-logo" src="/images/logo-wings.png"/>
<h1>Schedule - Saturday, July 26th, 2014</h1>
<h3>10:00am Workshops</h3>
<ul>
  <li><strong>Node School</strong> - Choose-your-own-adventure style lessons to learn how to use node.js, npm and other related tools by writing code to solve realistic problems.</li>
  <li><strong>Angular Workshop</strong> - Multiple sessions getting you up to speed building and testing an AngularJS application</li>
  <li><strong>Javascript Introduction</strong> - One of the best things about JavaScript is that it has a low barrier to entry.  People from all backgrounds are able to create and contribute to the world by learning JavaScript and applying it with their own unique knowledge.  This is an introductory course that will be useful for you during the "Open Hack" period.</li>
</ul>
<h3>12:30pm Lunch</h3>
<!--TODO: Add content here -->
<h3>2:00pm Open sessions</h3>
<ul>
  <li>Open spaces sessions (a la <a href="http://en.wikipedia.org/wiki/BarCamp">BarCamp</a>) and open hack time to work on <a href="http://codeforphilly.org/">Code for Philly</a> projects, meet up with <a href="http://www.meetup.com/Girl-Develop-It-Philadelphia/messages/boards/thread/44163122">Girl Develop It</a> Open Source Fellows, or work on practicing skills you learned if you chose to attend a workshop.</li>
</ul>
<h3>6:30pm Evening festivities</h3>
  <li>In the evening, we'll round it off with a good old fashioned social, thoroughly enjoying ImpactHub's deck.</li>
<div ng-include="'partials/sponsors'"></div>
<div ng-include="'partials/footer'"></div>
