<div ng-include="'partials/navbar'"></div>
<img class="subpage-logo" src="/images/logo-wings.png"/>
<h1>Schedule - July 26th, 2014</h1>
<h3>10:00am Workshops</h3>
<ul>
  <li><strong>Node School</strong> - Choose-your-own-adventure style lessons to learn how to use node.js, npm and other related tools by writing code to solve realistic problems.</li>
  <li><strong>Angular Workshop</strong> - Multiple sessions getting you up to speed building and testing an AngularJS application</li>
</ul>
<h3>12:30pm Lunch</h3>
<!--TODO: Add content here -->
<h3>2:00pm Open sessions</h3>
<ul>
  <li>Open spaces sessions</li><!--TODO: Add content here -->
  <li>Open hack with Girl Develop It and Code for Philly</li><!--TODO: Add content here -->
</ul>
<h3>6:30pm Evening festivities</h3>
<!--TODO: Add content here -->
<div ng-include="'partials/sponsors'"></div>
<div ng-include="'partials/footer'"></div>
