<section>
  <h1>Sponsors</h1>
  <a href="http://chariotsolutions.com/" class="sponsor" target="_blank"><img src="/images/chariot-logo.png"></a>
  <a href="http://jarv.us/" class="sponsor" style="background:black;padding:10px;" target="_blank"><img src="/images/jarvus-logo.png"></a>
  <a href="http://sungard.com/" class="sponsor" target="_blank"><img src="/images/sungard-logo.jpg"></a>
  <a href="http://philadelphia.impacthub.net/" class="sponsor" target="_blank"><img src="/images/impact-hub-logo.png"></a>
  <a href="http://www.elsevier.com/" class="sponsor" target="_blank"><img src="/images/elsevier-logo.jpg"></a>
  <a href="http://www.randstad.com/" class="sponsor" target="_blank"><img src="/images/randstad-logo.png"></a>
  <a href="http://www.teksystems.com/" class="sponsor" target="_blank"><img src="/images/teksystems-logo.gif"></a>

  <a href="http://www.meetup.com/Philadelphia-JavaScript-Developers/suggestion/" target="_blank">Your company here!</a>
</section>
