{{#paper-toolbar}}
  <h2 class="md-toolbar-tools">
    {{#paper-sidenav-toggle class="menu-sidenav-toggle"}}
      {{paper-icon icon="menu"}}
    {{/paper-sidenav-toggle}}
    <span>Sponsors</span>
  </h2>
{{/paper-toolbar}}

{{#paper-card}}
  {{#paper-card-content}}
    <h1>Gold Level Sponsors</h1>
    <h2>{{#link-to "sponsorship"}}Interested in sponsoring?{{/link-to}}</h2>
  {{/paper-card-content}}
{{/paper-card}}

{{#paper-card}}
  {{#paper-card-content}}
    <h2>Silver Level Sponsors</h2>

    <a
      href="http://chariotsolutions.com/"
      title="Chariot Solutions">
      <img
        src="/assets/images/ChariotLogo.jpg"
        alt="Chariot logo">
    </a>

    <p>Passionate About Technology: If those three words describe you, you'll feel right at home at Chariot. We are a tight knit group of software professionals, putting our expertise to work for Philadelphia area companies every day.</p>

    <a
      href="http://financialsystems.sungard.com/services/consulting-services"
      title="SunGard Consulting Services Website">
      <img src="/assets/images/sungard-logo.jpg" alt="SunGard Logo">
    </a>

    <p>
      SunGard’s Consulting Services help you identify and implement best
      practice solutions to address your unique business challenges. These
      efficiently delivered solutions help you transform your business with
      targeted investments toward growth, optimized efficiency and predictable
      total cost of ownership (TCO), and well-managed risk and compliance around
      business operations.
    </p>

  {{/paper-card-content}}
{{/paper-card}}

{{#paper-card}}
  {{#paper-card-content}}
    <h3>Bronze Level Sponsors</h3>
    <a
      href="https://www.promptworks.com/"
      title="Promptworks">
      <img src="/assets/images/promptworks-logo.png" alt="Promptworks Logo">
    </a>
    <p>The premier Philadelphia software consulting shop. We help businesses build web apps & APIs, automate processes, and scale existing products.</p>
{{paper-divider}}
    <a
      href="https://www.monetate.com/"
      title="Monetate">
      <img src="/assets/images/monetate-logo.png" alt="Monetate Logo" style="padding-top: 10px;">
    </a>
    <p>Monetate empowers marketers to leverage big data to create more personalized and engaging online customer experiences. By providing a more relevant web experience and anticipating and reacting to consumer behavior, leading brands generate stronger, more profitable customer relationships.</p>

{{paper-divider}}

  <a href="http://www.impacthub.net/" title="Impact Hub Website">
    <img src="/assets/images/impact-hub-logo.png" alt="Impact Hub Logo" style="padding-top: 10px;">
  </a>

  <p>
    An innovation lab. A business Incubator. A social enterprise community
    center. Impact Hub offers you a unique ecosystem of resources,
    inspiration, and collaboration opportunities to grow the positive impact
    of your work. Joining our diverse community of members and collaborators
    will inspire, connect, and enable you to develop your best work every step
    of the way.
  </p>

  {{/paper-card-content}}
{{/paper-card}}

{{#paper-card}}
  {{#paper-card-content}}
    <h2>{{#link-to "sponsorship"}}Interested in sponsoring?{{/link-to}}</h2>
  {{/paper-card-content}}
{{/paper-card}}
