{{#paper-toolbar}}
  <h2 class="md-toolbar-tools">
    {{#paper-sidenav-toggle class="menu-sidenav-toggle"}}
      {{paper-icon icon="menu"}}
    {{/paper-sidenav-toggle}}
    <span>Sponsors</span>
  </h2>
{{/paper-toolbar}}

{{#paper-card}}
  {{#paper-card-content}}

    <img
      src="/assets/images/sungard-logo.jpg"
      alt="SunGard Logo">

    <p>
      SunGard’s Consulting Services help you identify and implement best
      practice solutions to address your unique business challenges. These
      efficiently delivered solutions help you transform your business with
      targeted investments toward growth, optimized efficiency and predictable
      total cost of ownership (TCO), and well-managed risk and compliance around
      business operations.
    </p>

    <a
      href="http://financialsystems.sungard.com/services/consulting-services"
      title="SunGard Consulting Services Website">
      SunGard Consulting Services Website
    </a>

  {{/paper-card-content}}
{{/paper-card}}

{{#paper-card}}
  {{#paper-card-content}}

  <img
    src="/assets/images/impact-hub-logo.png"
    alt="Impact Hub Logo">

  <p>
    An innovation lab. A business Incubator. A social enterprise community
    center. Impact Hub offers you a unique ecosystem of resources,
    inspiration, and collaboration opportunities to grow the positive impact
    of your work. Joining our diverse community of members and collaborators
    will inspire, connect, and enable you to develop your best work every step
    of the way.
  </p>

  <a
    href="http://www.impacthub.net/"
    title="Impact Hub Website">
    Impact Hub Website
  </a>

  {{/paper-card-content}}
{{/paper-card}}
