{{#paper-toolbar}}
  <h2 class="md-toolbar-tools">
    {{#paper-sidenav-toggle class="menu-sidenav-toggle"}}
      {{paper-icon icon="menu"}}
    {{/paper-sidenav-toggle}}
    <span>Volunteer</span>
  </h2>
{{/paper-toolbar}}

{{#paper-card}}
  {{#paper-card-content}}

  <h3>Want to be part of the best JS conference in Philadelphia?!</h3>

  <p>
    We’re organizing volunteers for Liberty JS, an all-day javascript conference
    at Impact Hub on June 20th, 2015.
  </p>

  <h4>
    We need people like you.
  </h4>

  <h5>
    You could:
  </h5>

  <ul>
    <li>
      Help the caterering companies set up for breakfast or lunch or deck party
    </li>
    <li>
      Being a TA/Room Techie
    </li>
    <li>
      General setup
    </li>
    <li>
      General Tear down
    </li>
    <li>
      Job board setup
    </li>
    <li>
      Registration/sign-in
    </li>
    <li>
      Social media
    </li>
    <li>
      Random floor/navigation/event support
    </li>
  </ul>

  <p>
    We’re aiming for 2-3 hour shifts during the event if we get enough people.
    So bring your friends!
  </p>

  <p>
    For our thanks you don’t have to pay to get into the event, we’ll give you a
    free T-shirt to wear (?) and we’ll do our best to arrange for you to attend
    the segments you're interested in.
  </p>

  <p>
    We plan to communicate via google hangouts so we can help each other out. If
    you aren't on gmail, don’t let that stop you from signing up! (If you have
    already paid and decided to volunteer instead, please let me know.)
  </p>

  <p>
    Fill out the form below and we’ll send you an email with details on what
    time to show up, and will invite you to the chatroom that day. The more the
    merrier!
  </p>

  <iframe
    src="https://docs.google.com/forms/d/1VvwYRgnt1_mMZQHh6-_94h2CE11-I1OGiq9H44PiFCc/viewform?embedded=true"
    width="500"
    height="1250"
    frameborder="0"
    marginheight="0"
    marginwidth="0">
    Loading...
  </iframe>

  {{/paper-card-content}}
{{/paper-card}}
