{{#paper-nav-container classNames="ember-app"}}

  {{#paper-sidenav classNames="md-sidenav-left md-whiteframe-z2" flex-layout="column" flex=true}}

    {{#paper-toolbar}}
      <div class="md-toolbar-tools">
        <div class="logo">
          <img src="/assets/images/logo-text.png" alt="LibertyJS">
        </div>
      </div>
    {{/paper-toolbar}}

    {{#paper-content}}
      <nav class="sidenav">
        <ul>
          <li>{{#link-to "index"}}Home{{/link-to}}</li>
          <li>{{#link-to "tickets"}}Tickets{{/link-to}}</li>
          <li>{{#link-to "schedule"}}Schedule{{/link-to}}</li>
          <li>{{#link-to "speakers"}}Sessions{{/link-to}}</li>
          <li>{{#link-to "sponsors"}}Sponsors{{/link-to}}</li>
          <li>{{#link-to "volunteer"}}Volunteer{{/link-to}}</li>
          <li>{{#link-to "codeofconduct"}}Code of Conduct{{/link-to}}</li>
          <li>
            <a href="http://www.meetup.com/Philadelphia-JavaScript-Developers/suggestion/" target="_blank">Contact</a>
          </li>
        </ul>
      </nav>
    {{/paper-content}}
  {{/paper-sidenav}}

  {{#paper-content flex-layout="column" flex=true}}
    <div class="doc-content">
      {{outlet}}
      {{#paper-card}}
        {{#paper-card-content}}
          <p>
            ♥ from PhilaJSDev
            <a href="http://www.meetup.com/Philadelphia-JavaScript-Developers/" target="_blank">
              Meetup
            </a> |
            <a href="https://twitter.com/phillyjsdev/" target="_blank">
              Twitter
            </a>
          </p>
        {{/paper-card-content}}
      {{/paper-card}}
    </div>
  {{/paper-content}}

{{/paper-nav-container}}
